<img src="<%= asset_path('nature.png') %>" />
<img src="<%= asset_path('coffee.jpg') %>" />

<% @posts.each do |post| %>
  <h3><%= link_to post.title, post_path(post) %></h3>
  <p><%= post.user.username %></p>
  <p><%= post.summary %></p>
<% end %>
