<% if @post.user == current_user %>
  <%= link_to "Delete Post",
              post_path(@post),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
<% end %>

<h1><%= @post.title %></h1>
<p>Written by: <%= @post.user.email %></p>  

<%# Like button %>
<% if user_signed_in? %>
  <% if @post.liked?(current_user) %>
    <%= button_to 'Like', like_path(@post), method: 'put', disabled: true %>
  <% else %>
    <%= button_to 'Like', like_path(@post), method: 'put' %>
  <% end %>
<% end %>

<%= @post.rich_body %>
